<div id="map"></div>

<script>

  var artObjects = <%= art_objects(@arts).to_json.html_safe %>;
  var mapCenterLat = <%= @center_point[:lat] %>;
  var mapCenterLong = <%= @center_point[:long] %>;
  var zoomLevel = <%= @zoom_level %>;
  var markers = []

  var map = L.mapbox.map('map', 'examples.map-9ijuk24y')
      .setView([mapCenterLat, mapCenterLong], zoomLevel);

  var addToMap = function(art) {
    var marker = L.mapbox.markerLayer({
        type: 'Feature',
        geometry: {
            type: 'Point',
            coordinates: [parseFloat(art["long"]), parseFloat(art["lat"])]
        },
        properties: {
            'marker-size': 'large',
            'marker-color': '#008CFF',
        }
      });
      markers.push(marker);
      marker.addTo(map);
  }

  for (var i = 0; i < artObjects.length; i++) {
    var art = artObjects[i];

    addToMap(art);
  }


</script>
