%h1
  Discover Art

/ .row
/   %iframe{:src => "http://maps.google.com/maps/ms?msa=0&msid=201942862708368620008.0004d258890eb0d4d37c6&ie=UTF8&t=m&ll=42.367676,-71.119823&spn=0.076098,0.154495&z=13&output=embed&w=1000&h=600", class: "small-11 large-centered columns map-lrg"}

.row
  .small-11.large-centered.columns
    #map_canvas

:javascript
  var map;
  function initialize() {

    var artObjects = #{art_objects(@arts).to_json};

    var myLatlng = new google.maps.LatLng(#{@center_point[:lat]}, #{@center_point[:long]})

    var mapOptions = {
      zoom: 13,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById('map_canvas'),
        mapOptions);

    for (var i = 0; i < artObjects.length; i++) {
      var art = artObjects[i];

      var marker = new google.maps.Marker({
           position: new google.maps.LatLng(art.lat, art.long),
           map: map,
           title: art.title
       });

       marker.contentString = #{info_windows_for_arts(@arts)}[i]

      var infowindow = new google.maps.InfoWindow({
      });

      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(this.contentString);
        infowindow.open(map, this);
      });
    }
  }

  google.maps.event.addDomListener(window, 'load', initialize);

/ %ul
/   -@arts.each do |art|
/     %li
/       =link_to art.title, art_path(art.id)
/     %li
/       = image_tag art.image.url
