%h1
  Discover Art

.row
  %iframe{:src => "http://maps.google.com/maps/ms?msa=0&msid=201942862708368620008.0004d258890eb0d4d37c6&ie=UTF8&t=m&ll=42.367676,-71.119823&spn=0.076098,0.154495&z=13&output=embed&w=1000&h=600", class: "small-11 large-centered columns map-lrg"}

%ul
  -@arts.each do |art|
    %li
      =link_to art.title, art_path(art.id)
