@include font-face (artistic_streets_icons, 'artistic_streets_icons', normal, $asset-pipeline: true);
 [class^="icon-"]:before,
 [class*=" icon-"]:before,
 a:after {
  font-family: "artistic_streets_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}

.icon-spin4:before { content: '\e80b'; } /* '' */
.icon-menu:before { content: '\e805'; } /* '' */
.icon-th-large:before { content: '\e807'; } /* '' */
.icon-th:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-camera:before { content: '\e802'; } /* '' */
.icon-help:before { content: '\e803'; } /* '' */
.icon-tag:before { content: '\e804'; } /* '' */
.icon-download:before { content: '\e801'; } /* '' */
.icon-upload:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */

