$dark-gray: #333333;
$navigation-color: #2AE222;
$base-accent-color: #477dca;


$serif: georgia;
$sans-serif: 'Open Sans', sans-serif;
$base-font-size: 15px;
$base-line-height: 21px;

$base-border-radius: 3px;
