h1 {
  text-align:center;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: bold;
}
h3 {
  text-align: center
}
.map-lrg {
  height: 600px !important;
  width: 1000px !important;
}
#map_canvas {
  height: 600px;
  width: 100%;
}
