%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        =link_to 'Artistic Streets', root_path
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li.divider
      %li
        %a{:href => "/discover"} Discover
      %li.divider
      %li
        =link_to "Contribute", new_art_path
      %li.divider
    / %ul.right
    /   %li.divider
    /   %li.has-form
    /     %form
    /       .row.collapse
    /         .small-8.columns
    /           %input{:type => "text"}/
    /         .small-4.columns
    /           %a.alert.button{:href => "#"} Search
