<header class="navigation">
  <div class="menu-wrapper">
    <div class="logo">
      <%= link_to 'ARTISTIC STREETS', root_path %>
    </div>
    <p id="js-mobile-menu"><span class="icon-menu"></span></p>
    <ul class="nav nav-button" id="navigation-menu">
      <li>
        <%= link_to t('nav.map'), arts_path %>
      </li>
      <li>
        <%= link_to t('nav.gallery'), gallery_path %>
      </li>
      <li>
        <a data-reveal-id="myModal" href="#" id="contribute"><%= t('nav.contribute') %></a>
      </li>
    </ul>
  </div>
</header>