.fixed
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          =link_to 'Artistic Streets', root_path
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      %ul.right
        %li.divider
        - if !( params[:controller] == 'arts' && params[:action] == 'landing_page' ) # show_header_links?
          %li
            =link_to "#{t('nav.discover')}", arts_path
          %li.divider
          %li
            %a{"data-reveal-id" => "myModal", :href => "#"} #{t('nav.contribute')}
          %li.divider
          %li.has-dropdown
            %a{:href => "#"} #{t('nav.language')}
            %ul.dropdown
              %li
                =link_to "English", i18n_path(locale: 'en')
              %li
                =link_to "Español", i18n_path(locale: 'es')

