.row
  .large-11.larg-centered.columns
    %h2.pull-left
      =t('headings.landing_tagline')
    / %ul#inline-list
    /   %li
    /     %a.custom-button.pull-right
    /       Discover
    /   %li
    /     %a.custom-button.pull-right
    /       Contribute

#landing-hero
.row
  .large-11.larg-centered.columns#landing-bottom-content
    %h4
      =t('headings.landing_description')
    #art-count
      %h6 Currently Curating:
      %h6#art-count-number
      %h6 Works of Street Art, and Counting...
/ .row
/   .large-11.larg-centered.columns#landing-bottom-content
/     %h2.pull-left
/       Discover Art
/     %h2.pull-left
/       Track Art
/     %h2.pull-left
/       Walk Art


:javascript
  $(document).ready(function() {
    $.getJSON(url, function(data){
      
    });
    $('#art-count-number').append('Art Count Goes Here');
  });
