.row
  .large-11.larg-centered.columns
    %h2.pull-left
      =t('headings.landing_tagline')
    / %ul#inline-list
    /   %li
    /     %a.custom-button.pull-right
    /       Discover
    /   %li
    /     %a.custom-button.pull-right
    /       Contribute

#landing-hero
