.row
  .large-11.larg-centered.columns
    %h2.pull-left
      =t('headings.landing_tagline')

#landing-hero
.row
  .large-11.larg-centered.columns#landing-bottom-content
    %h4
      =t('headings.landing_description')
    #art-count
      %h6
        Currently Curating
        %span#art-count-number
        Works of Public Street Art and Counting...

:javascript
  $(document).ready(function() {
    var url = '/count.json'
    $.getJSON(url, function(data){
    $('#art-count-number').html(data.count);
    });
  });
