.row
  .large-11.larg-centered.columns
    %h2.pull-left
      =t('headings.landing_tagline')
    / %ul#inline-list
    /   %li
    /     %a.custom-button.pull-right
    /       Discover
    /   %li
    /     %a.custom-button.pull-right
    /       Contribute

#landing-hero
.row
  .large-11.larg-centered.columns#landing-bottom-content
    %h4
      =t('headings.landing_description')
    #art-count
      %h6
        Currently Curating
        %span#art-count-number
        Works of Public Street Art, and Counting...
/ .row
/   .large-11.larg-centered.columns#landing-bottom-content
/     %h2.pull-left
/       Discover Art
/     %h2.pull-left
/       Track Art
/     %h2.pull-left
/       Walk Art


:javascript
  $(document).ready(function() {
    var url = '/count.json'
    $.getJSON(url, function(data){
    $('#art-count-number').html(data.count);
    });
  });
