.row
  .large-11.larg-centered.columns
    %h2.pull-left
      =t('headings.landing_tagline')
    / %ul#inline-list
    /   %li
    /     %a.custom-button.pull-right
    /       Discover
    /   %li
    /     %a.custom-button.pull-right
    /       Contribute

#landing-hero
.row
  .large-11.larg-centered.columns#landing-bottom-content
    %h4 Document & Discover public art in your community and around the world!
/ .row
/   .large-11.larg-centered.columns#landing-bottom-content
/     %h2.pull-left
/       Discover Art
/     %h2.pull-left
/       Track Art
/     %h2.pull-left
/       Walk Art
