#landing-hero
  .row
    .large-11.larg-centered.columns
      %h2.pull-left
        Uncover a Sense of Place...
      / %ul#inline-list
      /   %li
      /     %a.custom-button.pull-right
      /       Discover
      /   %li
      /     %a.custom-button.pull-right
      /       Contribute

