.gallery.js-masonry
  -@images.each do |image|
    = image_tag image.url(:medium), class: 'image-item'


:javascript
  var $container = $('#container').masonry();
  $container.imagesLoaded( function() {
    $container.masonry();
  });
